


@model vize_projesi_dpList.Models.Birim

@{
    ViewData["Title"] = "BirimGetir";
    Layout = "~/Views/Shared/_yeniLayout.cshtml";
}



@using (Html.BeginForm("BirimGuncelle", "Birim", FormMethod.Post))
{
    <b>Birim Id :</b>
    @Html.TextBoxFor(x => x.BirimID, new { @class = "form-control" })

    <br />
    <b>Birim Adı :</b>
    @Html.TextBoxFor(x => x.BirimAd, new { @class = "form-control" })

    <br />
    <button class="btn btn-info">Departman Güncelle</button>
}